.container {
    justify-content: center;
    padding: 0.01em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  body {
    font-size: 80px;
    background: #222;
  }
  
  p {
    color: #222;
  }
  
  .pb {
    height: 320px;
    width: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .preview {
    position: absolute;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  
  .fb {
    margin-top: -0.2em;
    margin-bottom: 0.5em;
    padding-left: 0.1em;
    height: 10px;
    width: 220px;
    position: relative;
  }
  
  .card {
    margin: 0.05em;
    padding: 0.1em;
    border-radius: 0.1em;
  }
  
  .font-name {
    border-top: 2px solid #222;
    font-family: sans-serif;
    font-size: 2px;
    padding-left: 0.5em;
    padding-top: 0.8em;
  }
  